*{
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(74, 51, 51);
  --secudary-color: rgb(188, 252, 201);
  --last-color: rgb(126, 217, 87);
}

body {
  background-color: var(--main-color);
}

header {
  background-color: var(--secudary-color);
  box-shadow: var(--last-color) 0 4px 1px;
  width: 100%;
  height: 100px;
}