*{
  margin: 0;
  padding: 0;
}

#UI-container {
  max-width: 100%;
  border: black solid 1px;
  margin: 0 .3rem;
  margin-top: 70px;
  padding: 0 .3rem;
}

#UI {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

#UI div {
  display: flex;
}

#randon-palette {
  display: flex;
}

#palette-control {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: .2rem
}

#input-size-value{
  display: none;
}

.sample {
  width: 40px;
  height: 40px;
  border: solid black 1px;
}

.pixel {
  width: 10px;
  height: 10px;
  border: solid black 1px;
}

#board {
  display: flex;
  max-width: 80%;
  max-height: auto;
  flex-wrap: wrap;
}